/* src/App.css */
.App {
  text-align: center;
}

.lazy {
  height: 300px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  opacity: 0; /* 로드 전 */
}

.lazy.loaded {
  opacity: 1; /* 로드 후 */
}

.lazy-background {
  height: 300px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0; /* 로드 전 */
}

.lazy-background.loaded {
  opacity: 1; /* 로드 후 */
}
